body{
  font-family: 'Manrope', sans-serif !important;
}

.navbar-light .navbar-brand{
  color: #fff !important;
}
.nav-item{
  margin-left: 20px;
  width: 150px;
}
.nav-link{
  color: #fff !important;
  width: 200px;
  margin-left: 30px;
  margin-right: 30px;

}
.form-inline{
  margin-left: 700px;
  display: block;
}

#navbarNav{
  height: 50px;
}
.navbtn{
  margin-right: 15px;
}


#carouselExampleControls{
  height: 50vh;
  background-color: #00b586;
}
.carh2{
  /* padding: 120px 0 0px 180px; */
  /* display: inline-block; */
  font-weight: 700;
  color: #fff;
}
.carp{
  /* max-width: 35%; */
  /* float: left; */
  text-align: left;
  /* padding-left: 180px; */
  /* margin-left: 180px;
    margin-top: 50px !important; */
    color: #fff;

}

.carimg{
  /* float: right; */
/* margin-top: 20px;
margin-right: 170px; */
  /* width: 35%; */
  height: 50%;
  /* margin-top: 50px;
  margin-bottom: 50px; */
}
.leftcol{
  padding-left: 9%;
}
/* .car{
  padding: 3%;
} */
.carbtn{
  width: 180px;
  height: 45px;
  text-align:center;
  font-size: 20px;
  padding: 4px ;
  border-radius: 10px;
  border:3px solid #0a966c;
  color: #0a966c;
  background-color: #fff;
  /* margin-left: -535px;
  margin-top: 200px; */
  display: inline-block;
}

#app{
  padding: 5% 10%;
  text-align: center;
}
.apara{
  margin-top: 20px;
}
.abtn{
  font-size: 20px;
  background-color: #0a966c;
  padding: 1% 3%;
  margin-top: 30px !important;
}






/* @media (max-width:1028px){
  .carh2{
    text-align: center;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 50px;
  }
  .carp{
    text-align: center;
    margin-left: 300px;
    width: 800px;
    height: 100px;
    margin-left: 300px;
    display: block;
    vertical-align: middle;
  }
  .carimg{
    display: inline-block;
    vertical-align: middle;
    margin-top: 50px;
    margin-right: 300px;

  }
} */
